Schema/Powershell.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Machine">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="UpdateStamp" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Stamp to see what was the latest update script that was ran
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:string">
                                <xsd:attribute name="Value" type="xsd:string" use="required"/>
                            </xsd:extension>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <!-- Start Script -->
                <xsd:element name="Start" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Full path to the powershell script.  This will execute after profile is loaded
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Script" minOccurs="0" maxOccurs="1" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        This script will be run after the load procedures finish
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Greetings" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The string that will passed with the link.
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attribute name="Type" use="optional" type="xsd:string">
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        Default is 'Graffiti'. Visit http://patorjk.com/software/taag/ for more information on the different type
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:attribute>
                                            <xsd:attribute name="Save" use="optional">
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        If you want to save to a file.  Good if you do not have internet connection
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                                <xsd:simpleType>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:enumeration value="True"/>
                                                        <xsd:enumeration value="False"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:attribute>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="ClearHost" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Default is false.  Suggest to keep it false for debug.
                                </xsd:documentation>
                            </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="True"/>
                                        <xsd:enumeration value="False"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attributeGroup ref="Enable"/>
                    </xsd:complexType>
                </xsd:element>

                <!-- Terminal Settings -->
                <xsd:element name="ShellSettings" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Format" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        This format applies to all under ShellSettings
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="Formatter"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Header" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="String"/>
                                        <xsd:element name="BackgroundColor" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                    <xsd:attributeGroup ref="Enable"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Prompt" minOccurs="1" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Change the prompt function in the string tag.  
                                        Any change here does not require a reload of powershell session
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="BaterryLifeThreshold" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    The value will change the prompt on the command line to red if your battery life falls below that value
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attributeGroup ref="Enable"/>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:group ref="String"/>
                                    </xsd:sequence>
                                    <xsd:attributeGroup ref="Enable"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ShellColors" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="BackgroundColor" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="ForegroundColor" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="ProgressForegroundColor" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="ProgressBackgroundColor" minOccurs="0" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="StartDirectory" type="xsd:string" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Default is whatever is configured in the app settings
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="GitDisplay" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Git notificatons for Unstaged/Staged changes and unpushed commits
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Unstaged" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="Staged" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="Commits" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="CacheCount" type="xsd:int" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Defines the cache count for when you are in a git repo.  The @gitbranch tag will not check for any updates 
                                                    until after this count is reached
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attributeGroup ref="Enable"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Security" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Secure" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Should user be prompted for credentials.  Uses basic .json non-encrypted file to hold credentials in \bin\credentials\user.json
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="CloseSessionIfIncorrect" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attributeGroup ref="Enable"/>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="GitSettings" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Repository" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        You can have as many settings for as many repositories
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="CommitTypes" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    This is optional, the commit type will be appended to the begining fo the string to 
                                                    describe the type of change
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="CommitType" minOccurs="1" maxOccurs="unbounded">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Will begin the commit string with this describing the type
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="BranchesAllowedForTagging" minOccurs="0" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Branches that the user is allowing to get automatically tagged by Set-Tag method 
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:attribute name="Branches" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            Delimiter is a pipe
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="FilePath" use="required">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                File path to git repository
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Weather" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Area" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        City for weather
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Email" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Settings for Email.ps1
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="EmailAddress" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        The Email address you want to read your emails from. Format: \\\\{Email}
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attributeGroup ref="SecurityType"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="DefaultFolder" type="xsd:string"  minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Folder you are reading from (i.e. the \Inbox folder)
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="IncludeFields" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        What to print when listing mail from inbox.  Default is false;
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="To" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="CC" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="From" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="Subject" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                        <xsd:element name="Body" minOccurs="0" maxOccurs="1">
                                            <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                    <xsd:enumeration value="True"/>
                                                    <xsd:enumeration value="False"/>
                                                </xsd:restriction>
                                            </xsd:simpleType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="OutByPaging" type="xsd:boolean" minOccurs="0" maxOccurs="1">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Default is False.  If you want to output the message by page
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="ListInboxMax" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ListOrderBy" minOccurs="0" maxOccurs="1">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string" >
                                        <xsd:enumeration value="Asc">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Ascending
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:enumeration>
                                        <xsd:enumeration value="Desc">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Descending
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:enumeration>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="AssemblyPath" type="xsd:string" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    In Powershell 7 (as far as I know) The add-Type AssemblyName parameter needs the full file path.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Networks" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Network" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Connection" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element name="LANConfig" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    NETSH config file base name.  Used as a flag for the connection nodes in this config.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="IsDefault" use="optional">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="True"/>
                                                <xsd:enumeration value="False"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>                    
                </xsd:element>

                <xsd:element name="Searches" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Must have the Modules\Search.psm1 imported
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Search" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Must be a valid URL link.  Be sure to input the placeholder and note it down on the attribute
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attribute name="Type" type="xsd:string"/>
                                            <xsd:attribute name="Placeholder" type="xsd:string"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                
                <xsd:element name="Lists" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="List">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:group ref="List"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="Title" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Calendar" minOccurs="0" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="SpecialDays" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="SpecialDay" minOccurs="1" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Must be in datetime format: MM/dd/yyyy 
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:attribute name="name" type="xsd:dateTime" use="required">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            Name of the day
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Functions" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            This is where you can set some functions that isn't already defined in this repo.  
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Function" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Must be within a cdata section
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Modules" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Module" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation> <!-- TODO include modules outside repo if it isn't imported -->
                                        Full file path to the module
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Directories" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Parameters that are used in Goto.ps1 nad put.ps1 function
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Directory" minOccurs="1" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        File path for alias
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:anyURI">
                                            <xsd:attribute name="Alias" type="xsd:string" use="required"/>
                                            <xsd:attributeGroup ref="SecurityType"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Programs" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whatever is defined here will be referenced by the alias user provides
                        </xsd:documentation>
                    </xsd:annotation>    
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Program" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Path the alias will be calling. If Internal, given path must start in the repo (functions must be in the powershell repo)
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:anyURI">
                                            <xsd:attribute name="Alias" use="required" type="xsd:string"/>
                                            <xsd:attributeGroup ref="SecurityType"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Objects" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Object" minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Must have one Object element for every object you want to refer to on the cmd line.
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="VarName" minOccurs="1" maxOccurs="1">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    To define the object name
                                                </xsd:documentation>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attributeGroup ref="SecurityType"/>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:choice>
                                            <xsd:group ref="HashTableObjectElement"/>
                                            <xsd:group ref="XMLElement"/>
                                            <xsd:group ref="ClassElement"/>
                                            <xsd:group ref="LinkedObject"/>
                                        </xsd:choice>
                                    </xsd:sequence>
                                    <xsd:attribute name="Type" use="required">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                Values: PowerShellClass (if there is a class in the Classes folder the object is building from),  
                                                XmlElement (if object will inherit objects from Xml elements -- needs varname attribute),  
                                                HashTable (if the object will be using key and value to populate).   
                                                Default is XmlElement.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="PowerShellClass">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            A PowerShell Class object is an object whose datatype is defined by a class in this repository
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:enumeration>
                                                <xsd:enumeration value="XmlElement">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            An XmlElement is an object that is the XmlElement defined in the configuration
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:enumeration>
                                                <xsd:enumeration value="HashTable">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            A hash table object is a hash object whose keys and values are defined by the xml configuration
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:enumeration>
                                                <xsd:enumeration value="LinkedObject">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            A linked object is constructed with data defined in the database
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                </xsd:enumeration>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="ID" type="xsd:int" use="optional">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                Optional for HashTable type, use to distinguish objects in config
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="Database" type="xsd:string" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    For the HashTable decoding to work, you need to define this attribute
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ServerInstance" type="xsd:string" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    For the HashTable decoding to work, you need to define this attribute
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="MachineName" />
            <xsd:attribute name="LoadProfile">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="True" />
                        <xsd:enumeration value="False" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="LoadProcedure">
                <xsd:annotation>
                    <xsd:documentation>
                        Put "Verbose" to see verbose text.  Without it you will see progress bar
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Verbose" />
                        <xsd:enumeration value="Progress" />
                        <xsd:enumeration value="" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <!-- Group definition -->
    <xsd:group name="String">
        <xsd:sequence>
            <xsd:element name="String" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Tags: @user {User name on computer}, @date {Today's date, can be formatted}, @currdir {Current directory}, 
                        @fulldir {Full directory}, @time {Current time, can be formatted}, @greaterthan {For '>'}, @admin {Signifies if you are in an admin prompt}
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="Color" use="optional">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Choices are from powershell foregroundcolor color. 
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <!-- Formatter -->
    <xsd:group name="Formatter">
        <xsd:sequence>
            <xsd:element name="Date" minOccurs="1" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Default is yyyy-dd-MM.  Uses powershell datetime formatting
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Time" minOccurs="1" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Default is hh:mm:ss.  Uses powershell datetime formatting
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>


    <xsd:attributeGroup name="Enable">
        <xsd:attribute name="Enabled" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="True"/>
                    <xsd:enumeration value="False"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:group name="HashTableObjectElement">
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
                <xsd:group ref="NodeKey"/>
                <xsd:group ref="NodeValue"/>
            </xsd:choice>
            <xsd:choice maxOccurs="unbounded">
                <xsd:group ref="NodeValue"/>
                <xsd:group ref="NodeKey"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="NodeKey">
        <xsd:sequence>
            <xsd:element name="Key" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="Node" type="xsd:string" use="optional">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Unique id for the node pointer to point to
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attributeGroup ref="HashTableObjectAttributes"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="NodeValue">
        <xsd:sequence>
            <xsd:element name="Value" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="HashTableObjectAttributes"/>
                            <xsd:attribute name="Node" type="xsd:string" use="optional">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Unique id for the node pointer to point to (If you are referencing a powershell object, include '$')
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                            <xsd:attribute name="NodePointer" use="optional">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Provide a unique id to point to the next node value
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <!-- Objects -->
    <xsd:attributeGroup name="HashTableObjectAttributes">
        <xsd:attribute name="Lvl" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Level of the node or hash table (still determining the name)
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="SecurityType"/>
    </xsd:attributeGroup>

    <xsd:group name="XMLElement">
        <xsd:sequence>
            <xsd:element name="Values" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Any node here can be referenced on the command line by the element name.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:any processContents="strict" namespace="##local"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:simpleType name="XMLAny">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
    
    <xsd:group name="ClassElement">
        <xsd:sequence>
            <xsd:element name="Class" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Nodes below here can be reference when creating a class. 
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:choice>
                            <xsd:group ref="SQLClass"/>
                            <xsd:group ref="ListClass"/>
                            <xsd:group ref="MathClass"/>
                            <xsd:group ref="CalendarClass"/>
                        </xsd:choice>
                    </xsd:sequence>
                    <xsd:attribute name="ClassName" use="required"/>
                    <xsd:attribute name="HasParams" use="required" type="xsd:boolean"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="LinkedObject">
        <xsd:sequence>
            <xsd:element name="Link" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        This is the guid in the link table that pulls all the required data from the database to make the object
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    
    <xsd:group name="ListClass">
        <xsd:sequence>
            <xsd:element name="List" maxOccurs="1">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Title" minOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    The Title of the list you defined in your config
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="Redirect" minOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Provide FULL file path if you are pointing to another xml file for your list.  
                                    Note the config layout for the for the redirected list should be the same as this schema instructs.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="DisplayCompleteWith" type="xsd:string" minOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Default 'ColorCoded'.  Options: 'ColorCoded' or 'Markup'
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="SQLClass">
        <xsd:sequence>
            <xsd:element name="SQL" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        This is a way to alter or create a table in a local database
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Database" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="ServerInstance" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="SyncConfiguration" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Flag to allow the class to update your database from profile load.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="True"/>
                                    <xsd:enumeration value="False"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="UpdateVerbose" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Verbose flag for debugging update scripts
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="True"/>
                                    <xsd:enumeration value="False"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="SQLConvertFlags" type="xsd:string" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Names here are the columns you will need to provide in the Rows config
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="RunUpdates" minOccurs="1" maxOccurs="1">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="True"/>
                                    <xsd:enumeration value="False"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="CreateDatabase" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Whether or not you want the code to make the database for you.  Good when you first start using the database.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="True"/>
                                    <xsd:enumeration value="False"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="Tables">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="Table" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Column" minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            All attributes here are important.  Must have a value for each attributes in order for the queries to execute successfully 
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="ForeignKeyRef" type="xsd:string" minOccurs="0" maxOccurs="1">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>
                                                                        If there is a foreign key, must include the .json script
                                                                    </xsd:documentation>
                                                                </xsd:annotation>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                        <xsd:attribute name="Name" type="xsd:string" use="required">
                                                            <xsd:annotation>
                                                                <xsd:documentation>
                                                                    Name of the column
                                                                </xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="Type" use="required">
                                                            <xsd:annotation>
                                                                <xsd:documentation>
                                                                    Column data type
                                                                </xsd:documentation>
                                                            </xsd:annotation>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="IsPrimaryKey" use="required">
                                                            <xsd:annotation>
                                                                <xsd:documentation>
                                                                    If this column is the primary key
                                                                </xsd:documentation>
                                                            </xsd:annotation>
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:enumeration value="false"/>
                                                                    <xsd:enumeration value="true"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="IsForeignKey" use="required">
                                                            <xsd:annotation>
                                                                <xsd:documentation>
                                                                    If this column is the foreign key
                                                                </xsd:documentation>
                                                            </xsd:annotation>
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:enumeration value="false"/>
                                                                    <xsd:enumeration value="true"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                        <xsd:attribute name="IsNull" use="required">
                                                            <xsd:annotation>
                                                                <xsd:documentation>
                                                                    If this row can be null.  
                                                                    If table is already made, cannot make column that is not null
                                                                </xsd:documentation>
                                                            </xsd:annotation>
                                                            <xsd:simpleType>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:enumeration value="true"/>
                                                                    <xsd:enumeration value="false"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:attribute>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="Rows" minOccurs="0" maxOccurs="1">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            Values you must include in this config: &lt;SQLConvertFlags&gt; config values and any varchars
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="Row" minOccurs="0" maxOccurs="unbounded">
                                                                <xsd:annotation>
                                                                    <xsd:documentation>
                                                                        For this row to be inserted, the table must have an ExternalID and LastAccessDate
                                                                    </xsd:documentation>
                                                                </xsd:annotation>
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="Value" minOccurs="1" maxOccurs="unbounded">
                                                                            <xsd:annotation>
                                                                                <xsd:documentation>
                                                                                    The value you are inserting for the specified column.  
                                                                                </xsd:documentation>
                                                                            </xsd:annotation>
                                                                            <xsd:complexType>
                                                                                <xsd:simpleContent>
                                                                                    <xsd:extension base="xsd:string">
                                                                                        <xsd:attribute name="ColumnName" type="xsd:string" use="required"/>
                                                                                    </xsd:extension>
                                                                                </xsd:simpleContent>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                            <xsd:attribute name="Name">
                                                <xsd:annotation>
                                                    <xsd:documentation>
                                                        Name of the table you are creating
                                                    </xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:attribute>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="MathClass">
        <xsd:sequence>
            <xsd:element name="Math">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="QuantizedStepSize" type="xsd:int" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Used for Quantizing method
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="PathToGradeImport" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Path to import file for grades
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="GradeColors" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Color configuration.  Must list Descending Minimum Thresholds Values 
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="GradeColor" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                Must be colors from powershell terminal
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType>
                                            <xsd:simpleContent>
                                                <xsd:extension base="xsd:string">
                                                    <xsd:attribute name="MinimumThreshold" type="xsd:double">
                                                        <xsd:annotation>
                                                            <xsd:documentation>
                                                                Values must be in descending order.  
                                                                Maximum Threshold is 100%
                                                            </xsd:documentation>
                                                        </xsd:annotation>
                                                    </xsd:attribute>
                                                </xsd:extension>
                                            </xsd:simpleContent>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="CalendarClass">
        <xsd:sequence>
            <xsd:element name="Calendar">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="EventConfig" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Default: XML.  Choices = XML or Database
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="TimeStampFilePath" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Full path to timestamp.csv
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="FirstDayOfWeek" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    First Day of the week
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="EventsFile" type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    File path to the import file.  
                                    Columns: ExternalID(Format MMddyyyy),Subject,EventDate,IsAnnual
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="List">
        <xsd:sequence>
            <xsd:element name="Item">
                <xsd:annotation>
                    <xsd:documentation>
                        You can include as many 'Item' tags, so long as you specify the rank of the item.  
                        The last one should not have any text within the node.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:group ref="List"/>
                    </xsd:sequence>
                    <xsd:attribute name="rank" type="xsd:int" use="required"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="Completed" type="xsd:boolean" use="required"/>
                    <xsd:attribute name="ID" type="xsd:string" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:attributeGroup name="SecurityType">
        <xsd:attribute name="SecType" use="required"> 
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="public"/>
                    <xsd:enumeration value="private"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:complexType name="SSH">
        <xsd:sequence>
            <xsd:element name="ID" minOccurs="0" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        ID that identifies this connection specifically from different SSH connection
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="IPAddress" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        IP address for the SSH connection 
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>   
            <xsd:element name="Port" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Username" minOccurs="1" maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>   
            <xsd:element name="Password" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        [DEPRECATED] no longer passing to command line to keep consistency with cmd and powershell 
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element> 
            <xsd:element name="SSHKey" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        SSH public key.  Recall that if you are using putty, you must have the .ppk file in the correct format that putty can read.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element> 
            <xsd:element name="SSHClientPath" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="Type" use="required">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Type of SSH Client
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="Putty">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Must provide .exe path
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:enumeration>
                                        <xsd:enumeration value="Cmd">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Do not need to provide .exe path
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:enumeration>
                                        <xsd:enumeration value="Powershell">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Do not need to provide .exe path
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:enumeration>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NetworkShare">
        <xsd:sequence>
            <xsd:element name="DriveLetter" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="IPAddress" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        IP address for the NetworkShare connection.  Must be in the form of: \\{IP address}\{Share name}
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>   
            <xsd:element name="Username" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>   
            <xsd:element name="Password" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        If you do not provide then you will be prompted
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attributeGroup ref="SecurityType"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element> 
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>